/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0; /* Reset du margin de base des ul  */
  padding: 0; /* Reset du padding de base des ul  */
}

li {
  list-style: none; /* Permet d'enlever les points des "listes"  */
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.section-medium-txt {
  margin: 0;
  font-size: 18px; /* Création d'une class pour les textes de 18 px  */
}

.section-small-txt {
  margin: 0;
  font-size: 16px; /* Création d'une class pour les textes de 16 px  */
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header & Navigation  ******/

header {
  display: flex;
  justify-content: space-between; /* créer l'espace pour séparer le logo et la nav */
}

.booki-logo {
  width: 61px; /* taille de logo respectueuse de la maquette */
  height: 19px;
  padding: 30px 0; /* ajout d'un padding sur le logo respectueux de la maquette */
}

.booki-logo img {
  width: 100%; /* 100% de la taille du parent (donc booki-logo) */
  height: 100%;
}

nav ul {
  display: flex; /* passage du vertical à l'horizontal */
  gap: 70px; /* séparation des li respectueuse de la maquette */
}

nav .section-small-txt {
  border-top: 2px solid transparent; /* application d'une border transparent pour éviter le déplacement du texte en hover quand on ajoute une border */
  padding-top: 14px; /* écart de 14px du top pour respectuer la maquette */
}

nav .section-small-txt:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/****** Filter & Search ******/

.search {
  margin-top: 30px; /* écart de 30px du header respectueux de la maquette */
}

.search-title .section-small-txt {
  margin-top: 8px; /* écart de 8px du titre h2 respectueux de la maquette */
}

.search-bar {
  margin: 35px 0; /* écart de 35px inférieur et supérieur respectueux de la maquette  */
}

form {
  display: flex; /* utilisation de display flex afin d'enlever le "white space" du form  */
  height: 49px; /* taille respectueuse de la maquette  */
  max-width: 377px; /* taille max respectueuse de la maquette (permettra d'être éditer plus facilement en media queries)  */
}

.search-icon {
  display: flex; /* afin de pouvoir centrer le logo à l'intérieur  */
  align-items: center; /* centrage */
  justify-content: center; /* centrage */
  background-color: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px; /* radius respectueux de la maquette */
  min-width: 50px; /* largeur respectueux de la maquette (min-width pour éviter un écrasement de l'input) */
  height: 100%; /* 100% du parent (form) */
}

.search-icon i {
  font-size: 18px; /* taille respectueuse de la maquette */
  color: black; /* passage en noir */
}

/* button first afin de pouvoir appliquer la taille parfait à l'input */

.phone-button {
  display: none;
}

.desktop-button {
  min-width: 132px; /* taille respectueuse de la maquette (min-width pour éviter un écrasement de l'input) */
  background-color: var(--main-color);
  color: white;
  border: none; /* reset du border de base */
  border-radius: 0px 15px 15px 0px;
  font-size: 18px;
  font-weight: 700;
}

.search-bar input {
  width: 100%; /* pour que l'input redimensionne en laissant le bouton et l'icon à la bonne taille */
  border: 1px solid var(--main-bg-color);
  padding-left: 24px; /* respectueux de la maquette */
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.search-bar input::placeholder {
  color: black;
  font-size: 18px;
  font-weight: 700;
  opacity: 1; /* pour Mozilla */
}

.filter {
  display: flex; /* alignement horizontal texte et button */
  align-items: center; /* centrage texte et button */
  gap: 15px;
}

.filter-button {
  display: flex; /* alignement horizontal button */
  gap: 15px; /* gap respectueux de la maquette */
}

.filter-button button {
  display: flex; /* pour centrage et gap */
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 4px 19px; /* padding respectueux de la maquette */
  border: 2px solid var(--border-color);
  font-size: 17px;
  font-weight: 700;
  height: 50px; /* hauteur respectueuse de la maquette */
  gap: 10px; /* gap respectueux de la maquette */
}

.filter button i {
  font-size: 22px; /* size des icons */
}

.filter button:hover {
  background-color: var(--filter-bg-color);
}

.search-number-result {
  display: flex; /* alignement horizontal icon et texte */
  align-items: center; /* centrage */
  padding: 35px 0;
  gap: 10px; /* gap respectueux de la maquette */
}

.search-number-result i {
  display: flex; /* pour centrage */
  align-items: center;
  justify-content: center;
  min-width: 24px; /* taille respectueuse de la maquette (min-width pour éviter un écrasement du texte) */
  height: 24px; /* taille respectueuse de la maquette */
  border: 1px solid var(--border-color);
  border-radius: 100%; /* rond */
  font-size: 11px; /* size icon */
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-title {
  margin-bottom: 30px;
}

.hebergements-cards {
  display: flex; /* alignement horizontal des cards */
  flex-wrap: wrap; /* passage à la ligne */
  justify-content: space-between; /* séparation */
}

.hebergements .card {
  display: flex; /* alignements vertical du content */
  flex-direction: column;
  flex: 0 0 29.66%; /* nombre de cards sur une ligne avant passage à la ligne + taille (respectueuse de la maquette) */
  margin-bottom: 30px;
}

.hebergements-cards img {
  width: 100%; /* 100% du parent donc de la card */
  height: 114px; /* hauteur respectueuse de la maquette */
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  padding-left: 15px; /* padding respectueux de la maquette */
  display: flex;
  flex-direction: column; /* affichage en colonne */
}

.hebergements-cards .card-title {
  margin: 10px 0 0 0; /* écart supérieur respectueux de la maquette */
}

.hebergements-cards .card-subtitle {
  margin: 0; /* reset */
  font-size: 14px;
  padding: 8px 0; /* écart supérieur et inférieur respectueux de la maquette */
}

.hebergements-cards .card-rating {
  font-size: 17px;
  margin-bottom: 5px; /* écart inférieur respectueux de la maquette */
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ***********/

.activities {
  margin-top: 35px; /* séparation des sections respectueuse de la maquette */
  padding: 30px; /* écart supérieur et inférieur respectueux de la maquette */
}

.activities-title {
  margin-bottom: 30px; /* écart inférieur respectueux de la maquette */
}

.activities-cards {
  display: flex; /* affichage en ligne horizontale des cards */
  justify-content: center; /* centrage */
  gap: 30px; /* gap respectueux de la maquette */
}

.activities-cards a {
  min-width: 23%; /* taille du parent respectueux de la maquette */
}
.activities-cards .card {
  display: flex; /* pour passer en colonne */
  flex-direction: column; /* passage en colonne */
  padding: 0; /* reset du padding de base */
  width: 100%; /* 100% du parents */
  height: 100%; /* pour avoir toujours la même hauteur même avec le passage à la ligne */
}

.activities-cards img {
  height: 380px; /* taille respectueuse de la maquette en hauteur */
  border-radius: 20px 20px 0 0;
}

.activities-cards .card-content {
  padding: 20px 19px; /* respectueux de la maquette*/
}

.activities-cards .card-content .card-title {
  margin: 0; /* reset du margin de base */
}

/****** Footer ***********/

footer {
  background-color: var(--main-bg-color);
}

.footer-container {
  display: flex; /* alignement horizontal des ul */
  padding: 20px;
}

footer ul {
  display: flex; /* flex pour les gaps */
  flex-direction: column; /* affichage en colonne */
  gap: 15px; /* gap respectueux de la maquette */
  width: 33.33%; /* taille respectueuse de la maquette */
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /* Filter  */

  .filter {
    flex-direction: column; /* passage en colonne pour le texte et les buttons */
    align-items: flex-start; /* reset du center pour replacer au début */
  }

  .filter-button button {
    font-size: 16px; /* taille respectueuse de la maquette */
  }
  /* Heberbements & populaires  */
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /* Activities  */
  .activities-cards img {
    height: 200px; /* taille respectueuse de la maquette en hauteur */
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Body  */
  .main-container {
    padding: 0 20px; /* padding respectueux de la maquette */
  }
  /* Header & navigation */
  header {
    flex-direction: column; /* passage en colonne du logo et de la nav */
    align-items: center; /* centrage */
  }

  nav {
    width: 100%; /* application d'une width de 100% de la longueur à la nav (parent) */
  }

  nav ul {
    justify-content: center; /* centrage */
    gap: 0px; /* reset du gap */
    margin: 0 -20px; /* reset du padding du main-container */
  }

  nav .section-small-txt {
    width: 50%; /* 50% du parent donc nav */
    text-align: center; /* centrage du texte dans les 50% de width */
    border-top: 0px; /* reset */
    padding-top: 0px; /* reset */
    padding-bottom: 14px; /* écart de 14px vers le bas pour respecter la maquette */
    border-bottom: 2px solid var(--main-bg-color); /* Ajout des lignes grises en dessous */
  }

  nav .section-small-txt:hover {
    border-top: 0px; /* reset */
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }
  /* Search & filter */
  .desktop-button {
    display: none; /* faire disparaitre le button desktop */
  }

  form {
    max-width: 387px; /* rajout de 10px sur la taille pour le mobile button en position relative -10px = permet de revenir à 377px */
  }

  .phone-button {
    display: flex; /* faire apparaitre + permet de centrer l'icon */
    align-items: center; /* centrage */
    justify-content: center; /* centrage */
    min-width: 50px;
    min-height: 49px;
    background-color: var(--main-color);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none; /* reset */
    position: relative; /* pour pouvoir placer le button au dessus de l'input comme sur la maquette */
    left: -10px; /* décalage de 10px afin qu'il soit bien par dessus l'input */
  }

  .phone-button i {
    font-size: 17px; /* respectueux de la maquette */
    color: white;
  }

  .filter-button {
    gap: 20px 10px; /* respectueux de la maquette */
    flex-wrap: wrap; /* passage à la ligne des boutons */
  }

  .filter-button button {
    width: 48%; /* 48% pour laisser de la place au gap */
    font-size: 14px; /* respectueux de la maquette */
  }
  /* ... */
}
